<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
                  http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">

	<display-name>Portal FdI</display-name>

	<!-- -->
	<!-- JavaEE session configuration -->
	<!-- -->
	<session-config>
		<session-timeout>30</session-timeout>
		<tracking-mode>COOKIE</tracking-mode>
	</session-config>

	<!-- -->
	<!-- JavaEE error pages -->
	<!-- 
	<error-page>
		<error-code>404</error-code>
		<location>/static/404.html</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/static/500.html</location>
	</error-page>
	<error-page>
		<exception-type>java.lang.Throwable</exception-type>
		<location>/static/500.html</location>
	</error-page>
-->
	<!-- General error page 
	<error-page>
		<location>/static/500.html</location>
	</error-page>
-->
	<!-- -->
	<!-- Default JSPs' configuration -->
	<!-- -->
	<jsp-config>
		<jsp-property-group>
			<display-name>JSPs' configuration</display-name>
			<url-pattern>*.jsp</url-pattern>
			<page-encoding>UTF-8</page-encoding>
			<default-content-type>text/html; charset=UTF-8</default-content-type>
		</jsp-property-group>
	</jsp-config>

	<!-- -->
	<!-- Log4J 2 initialization -->
	<!-- -->

	<!-- Disable automatic Servlet 3.0 initializacion (ServletContainerInitializer) 
		to avoid bugs in Tomcat behavior -->
	<context-param>
		<param-name>isLog4jAutoInitializationDisabled</param-name>
		<param-value>true</param-value>
	</context-param>

	<!-- Log4j 2 Servlet 2.5 (manual) initialization -->
	<listener>
		<listener-class>org.apache.logging.log4j.web.Log4jServletContextListener</listener-class>
	</listener>
	<filter>
		<filter-name>Log4jServletFilter</filter-name>
		<filter-class>org.apache.logging.log4j.web.Log4jServletFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>Log4jServletFilter</filter-name>
		<url-pattern>/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>
		<dispatcher>INCLUDE</dispatcher>
		<dispatcher>ERROR</dispatcher>
	</filter-mapping>

	<!-- -->
	<!-- Spring's ROOT context initialization -->
	<!-- -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/spring/root-context.xml, /WEB-INF/spring/security.xml</param-value>
	</context-param>

	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<!-- -->
	<!-- Required to enable method="PUT" in forms with multipart/form-data -->
	<!-- also using org.springframework.web.filter.HiddenHttpMethodFilter -->
	<!-- -->
	<filter>
		<filter-name>MultipartFilter</filter-name>
		<filter-class>org.springframework.web.multipart.support.MultipartFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>MultipartFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<!-- -->
	<!-- UTF-8 encoding configuration -->
	<!-- -->

	<filter>
		<filter-name>CharacterEncodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>

	<filter-mapping>
		<filter-name>CharacterEncodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<!-- -->
	<!-- Enables browsers that not support HTTP 1.1 method using _method hidden form -->
	<!-- -->
	<filter>
		<filter-name>HiddenHttpMethodFilter</filter-name>
		<filter-class>org.springframework.web.filter.HiddenHttpMethodFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>HiddenHttpMethodFilter</filter-name>
		<servlet-name>portal</servlet-name>
	</filter-mapping>

	<!-- -->
	<!-- Enable PUT method to work with x-www-urlencoded data -->
	<!-- -->
	<filter>
		<filter-name>HttpPutFormContentFilter</filter-name>
		<filter-class>org.springframework.web.filter.HttpPutFormContentFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>HttpPutFormContentFilter</filter-name>
		<servlet-name>portal</servlet-name>
	</filter-mapping>

	<!-- -->
	<!-- Spring Security filter definition  -->
	<!-- -->

	<filter>
		<filter-name>springSecurityFilterChain</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>springSecurityFilterChain</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<!-- -->
	<!-- Spring-MVC's DispatcherServlet configuration -->
	<!-- -->

	<servlet>
		<servlet-name>portal</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/spring/webcontext/portal-context.xml, /WEB-INF/spring/webcontext/storage-context.xml, /WEB-INF/spring/webcontext/espacios-context.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>portal</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>

</web-app>